{% extends 'default.html' %}

{% block title %}Lista de Funcionários{% endblock %}

{% block content %}
    <div class="container">
        <h1>Lista de Funcionários</h1>
        <div class="row mb-3">
            <div class="col-md-12 mb-3">
                <form id="searchForm" action="{% url 'listar_funcionarios' %}" method="get">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div class="input-group">
                                    <select id="searchType" name="searchType" class="form-control col-md-3">
                                        <option value="nome">Nome</option>
                                        <option value="email">Email</option>
                                        <option value="idade">Idade</option>
                                        <option value="altura">Altura</option>
                                        <option value="peso">Peso</option>
                                    </select>
                                    <input type="text" id="search" name="search" class="form-control col-md-7"
                                           placeholder="Pesquisar">
                                    <div class="input-group-append col-md-2">
                                        <button type="submit" class="btn btn-primary w-100"><i
                                                class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            {% for funcionario in funcionarios %}
                <div class="col-md-3 mb-4">
                    <div class="funcionario-card p-3 rounded shadow position-relative">
                        <div class="d-flex flex-column align-items-center">
                            <i class="fa-solid fa-user fa-3x"></i>
                            <h5 class="mt-3">{{ funcionario.nome_completo }}</h5>
                            <a href="{% url 'perfil_funcionario' funcionario.id %}" class="btn btn-info btn-sm mt-2">Ver
                                Perfil</a>
                        </div>
                        <a href="{% url 'excluir_funcionario' funcionario.id %}"
                           class="btn btn-danger btn-excluir position-absolute">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <p>Nenhum funcionário encontrado.</p>
                </div>
            {% endfor %}
        </div>
        <div class="row mt-4">
            <div class="col-12 d-flex justify-content-center">
                <a href="{% url 'cadastrar_funcionario' %}" class="btn btn-add-funcionario">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
    <script>
        let msg = "{{ msg }}";
        if (msg) {
            alert(msg);
        }
    </script>
{% endblock %}
