{% extends 'default.html' %}

{% block title %}Página Principal{% endblock %}

{% block content %}
<h1 class="mx-auto">Bem-vindo à SESBOL</h1>
    <h2 class="mx-auto">Saúde Empresarial em Soluções de Bolso</h2>
    
<p>Onde a inovação encontra a saúde. Somos uma empresa dedicada a transformar a forma como as organizações cuidam do bem-estar de seus colaboradores. Combinamos tecnologia de ponta e expertise em saúde para oferecer soluções práticas, eficientes e acessíveis que cabem no seu bolso.
Na SESBOL, acreditamos que a saúde dos funcionários é um dos pilares mais importantes para o sucesso de qualquer empresa. Por isso, desenvolvemos produtos e serviços que vão além da simples monitoração de saúde. Nossos dispositivos inteligentes, como smartwatches e aplicativos integrados, permitem um acompanhamento contínuo e personalizado das condições de saúde de cada colaborador, promovendo um ambiente de trabalho mais seguro e saudável.
Nossa missão é tornar a gestão da saúde empresarial mais fácil e eficaz. Com soluções que vão desde a monitoração de sinais vitais até a análise de dados de saúde em tempo real, capacitamos as empresas a tomarem decisões informadas e proativas, garantindo a segurança e o bem-estar de todos os seus membros.
Junte-se à SESBOL e descubra como nossas soluções podem melhorar a qualidade de vida dos seus colaboradores e aumentar a produtividade da sua empresa. Saúde no trabalho é saúde no bolso, e na SESBOL, levamos essa filosofia a sério.</p>
{% endblock %}